body {
    min-height: 100vh;
    min-width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 1300px;
    min-height: 1600px;
    margin: 0 auto;
    padding-left: 150px;
    padding-right: 150px;
}

.container1 {
    width: 1000px;
    /*margin: 0 auto;*/
}

@font-face {
    font-family: 'SegoeWP';
    src: url(fonts/SegoeWP.ttf);
}

.aside {
    width: 282px;
    float: left;
}

.logo {
    background: url("img/logo.png");
    width: 150px;
    height: 97px;
    display: block;
    margin-left: 67px;
    margin-top: 16px;
    border: none;
}

.menu {
    margin-left: 48px;
    margin-top: 43px;
}

.menu a {
    text-decoration: none;
    list-style-type: none;
    width: 232px;
    height: 44px;
    display: block;
    font-family: 'SegoeWP', sans-serif;
    color:  #7e7d7e;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: justify;
    box-sizing: border-box;
    margin-bottom: 14px;
    position: relative;
}

.menu a:hover {
    background-color: #6dbad6;
    color: white;
}

.home a::before {
    content: "\f111";
    font-family: 'FontAwesome', sans-serif;
    margin-left: 17px;
    margin-right: 8px;
    font-size: 33px;
}

.menu a:hover::before {
    color: white;
}

.menu a:hover::after {
    color: #6dbad6;
}

.home a::after {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    content: "\f015";
    left: 22px;
    color: white;
}

.videos a::before {
    content: "\f111";
    font-family: 'FontAwesome', sans-serif;
    margin-left: 17px;
    margin-right: 8px;
    font-size: 33px;
}

.videos a::after {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    content: "\f008";
    left: 21px;
    color: white;
}

.images a::before {
    content: "\f111";
    font-family: 'FontAwesome', sans-serif;
    margin-left: 17px;
    margin-right: 8px;
    font-size: 33px;
}

.images a::after {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    content: "\f03e";
    left: 21px;
    color: white;
}

.articles a::before {
    content: "\f111";
    font-family: 'FontAwesome', sans-serif;
    margin-left: 17px;
    margin-right: 8px;
    font-size: 33px;
}

.articles a::after {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    content: "\f0f6";
    left: 23px;
    color: white;
}

.freebies a::before {
    content: "\f111";
    font-family: 'FontAwesome', sans-serif;
    margin-left: 17px;
    margin-right: 8px;
    font-size: 33px;
}

.freebies a::after {
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    content: "\f0f6";
    left: 23px;
    color: white;
}

@font-face {
    font-family: 'PTSans';
    src: url(fonts/pt-sans.ttf);
}

.about>h2 {
    font-family: 'PTSans', sans-serif;
    color:  #959595;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    margin-left: 37px;
    margin-top: 57px;
    letter-spacing: -1px;
}

.about>p {
    font-family: 'PTSans', sans-serif;
    color: #959595;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    width: 196px;
    margin-left: 48px;
    margin-top: -14px;
    letter-spacing: -1px;
}

.about {
    margin-bottom: 43px;
}

.teg_title h3{
    font-family: 'PTSans', sans-serif;
    color: #959595;
    font-size: 32px;
    font-weight: 400;
    text-align: left;
}

.teg_title h3::before {
    background: url("img/Shape 18.png") no-repeat;
    width: 34px;
    height: 28px;
    display: block;
    content: "";
    float: left;
    margin-left: 55px;
    margin-right: 5px;
    margin-top: 7px;
}

.tegs {
    display: flex;
    width: 193px;
    height: 119px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 37px;
    margin-top: -18px;
}

.tegs a {
    border-radius: 5px;
    background-color:  #eaeaea;
    width: 51px;
    height: 24px;
    text-decoration: none;
    font-family: 'PTSans', sans-serif;
    color:  #908f8f;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    display: block;
    line-height: 24px;
}

main {
    width: 718px;
    min-height: 1600px;
    background-color: #e8e8e8;;
    float: right;
    position: relative;
}

.title {
    margin-top: 29px;
    margin-left: 72px;
}

.first_word {
    font-family: 'SegoeWP', sans-serif;
    color:  #545454;
    font-size: 38px;
    font-weight: 600;
    text-align: left;
    letter-spacing: -3px;
}

.second_word {
    font-family: 'SegoeWP', sans-serif;
    color:  #545454;
    font-size: 38px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -3px;
}

.first_word::before {
    background: url("img/Shape 17.png") no-repeat;
    width: 45px;
    height: 35px;
    display: block;
    content: "";
    float: left;
    margin-top: 8px;
    margin-right: 17px;
}

.social_icon {
    position: absolute;
    width: 190px;
    height: 30px;
    display: flex;
    border-radius: 5px;
    background-color:  #ffffff;
    right: 4px;
    top: 42px;
}

.social_item {
    display: inline-block;
    width: 51px;
    height: 30px;
    margin-right: 1px;
    text-align: center;
    color: #a8a8a8;
}

.social_item:hover {
    background-color: #6dbad6;
    color: white;
}

.demo {
    margin-left: 23px;
    margin-top: 40px;
    overflow: hidden;
    width: 664px;
    height: 324px;
}

video {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.box_video {
    overflow: hidden;
    width: 258px;
    height: 208px;
}

.description {
    width: 665px;
    height: 27px;
    background-color: #dedfdf;
    margin-left: 23px;
    margin-bottom: 10px;
}

@font-face {
    font-family: 'SofiaProLight';
    src: url(fonts/SofiaProLight.otf);
}

.description>p {
    font-family: 'SofiaProLight', sans-serif;
    color:  #a3a2a2;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    float: left;
    margin-top: 0;
    margin-left: 10px;
    letter-spacing: -2px;
}

.share {
    background: url("img/share.png");
    width: 117px;
    height: 18px;
    display: flex;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

.share a {
    width: 23px;
    height: 18px;
    display: block;
}

.view {
    display: flex;
    float: right;
    margin-right: 52px;
    margin-top: 29px;
    margin-bottom: 32px;
}

.view>span {
    font-family: 'SofiaProLight', sans-serif;
    color:  #8b8b8b;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    transform: scaleY(1.0059);
    display: block;
    letter-spacing: -1px;
}

.layout-buttons {
    border-radius: 5px;
    background-color:  #d6d6d6;
    width: 80px;
    height: 30px;
    display: block;
    margin-left: 10px;
}

.wrapper {
    margin-left: 69px;
    margin-top: 92px;
}

.box,
.box1 {
    width: 599px;
    height: 208px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.box1 {
    margin-top: 53px;
}

.box_text {
    width: 341px;
    height: 208px;
    background-color: white;
    padding-left: 19px;
    box-sizing: border-box;
}

.box_text>h2 {
    font-family: 'SofiaProLight', sans-serif;
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -2px;
    margin-top: 3px;
}

.like {
    display: flex;
    flex-direction: row;
    height: 11px;
    justify-content: space-between;
    width: 138px;
    line-height: 11px;
    margin-left: 8px;
    margin-top: -8px;
}

.like p {
    display: block;
    margin-top: -6px;
    color:  #727272;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-left: -7px;
}

.line {
    width: 303px;
    height: 1px;
    border: 1px solid gainsboro;
    margin-top: 5px;
}

.main_text {
    font-family: 'PTSans', sans-serif;
    color:  #727272;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    letter-spacing: -1px;
    margin-top: 5px;
}

.film::after {
    position: absolute;
    font-family: 'FontAwesome', sans-serif;
    content: "\f008";
    z-index: 5;
    left: -15px;
    top: 82px;
    font-size: 30px;
}

.film::before {
    content: "\f111";
    font-family: 'FontAwesome', sans-serif;
    font-size: 70px;
    color: #6dbad6;
    position: absolute;
    left: -29px;
    top: 64px;
    z-index: 2;
}

.quarter {
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 30px solid #dfdfdf;
    border-bottom: 30px solid #dfdfdf;
    border-top-left-radius: 60px;
    position: absolute;
    bottom: 0;
}

.quarter i {
    color: white;
    margin-left: -18px;
    margin-top: 7px;
}

.clear {
    clear: both;
}

footer {
    background-color:  #ffffff;
    width: 1000px;
    height: 76px;
    margin-top: 16px;
    padding-left: 33px;
    box-sizing: border-box;
}

footer p {
    font-family: 'PTSans', sans-serif;
    color:  #9d9d9d;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 6px;
 }

.menu_footer {
    float: left;
}

.menu_footer a {
    text-decoration: none;
    font-family: 'PTSans', sans-serif;
    color:  #a3a3a3;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -1px;
}

.link {
    border-left: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    padding-right: 6px;
    padding-left: 5px;
}

.footer_icon {
    float: right;
    width: 149px;
    height: 37px;
    margin-top: -20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

.footer_icon a {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: #b5b4b4;
}

.layout-buttons {
    display: flex;
}

.icon-list,
.icon-table {
    text-align: center;
    width: 39px;
    height: 30px;
    line-height: 30px;
    color: #b5b4b4;
}

.icon-list:hover,
.icon-table:hover {
    background-color: #6dbad6;
    color: white;
}